<!DOCTYPE html>
<!--
     第一個Spring Boot網頁
-->
<html>
    <head>
        <title>我的網頁</title>
        <style>
            body {
                background-color: beige;
            }
            p {
                color: LightSeaGreen;
            }
            p.large{
                font-size: 36px;
                font-weight: 900;
            }            
            h1{
                color: orange;
            }

            .italic{
                font-style: italic;
            }
            .important{
                color:red;
            }
        </style>

    </head>

    <body>
        <h1>第一個Spring Boot網頁</h1>
        <p>我會寫網頁，好開心!</p>
        <p class="large">我會寫網頁，好開心!</p>
        <p class="italic important">Spring Boot is awesome!</p>

    </body>

</html>
